* {
  box-sizing: border-box;
}

/* --------------------------------------- */
/* fonten */
h1,
h2,
h3,
h4,
p {
  text-decoration: none;
  font-family: "Quattrocento Sans", sans-serif;
}

/* --------------------------------------- */
/* img og iframe */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  width: 100%;
}
/* --------------------------------------- */
/* logo */
.logo {
  width: 50px;
  height: 50px;
}
/* --------------------------------------- */
/* menu liste */
nav {
  text-align: left;
}
nav a {
  float: none;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
/* --------------------------------------- */
/* header */
header {
  float: none;
  color: black;
  text-decoration: none;
}
/* --------------------------------------- */
/* footer */
footer {
  background-color: #eaa001;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
}

/* --------------------------------------- */
@media (min-width: 700px) {
  /* menu liste */
  nav a {
    float: none;
    display: block;
    color: black;
    text-decoration: none;
    /* background-color: #eaa001; */
  }
  /* --------------------------------------- */
  /* header */
  header {
    float: none;
    text-decoration: none;
  }
  /* --------------------------------------- */
  /* main */
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* --------------------------------------- */
/* menu */

.banner {
  background-color: transparent;

  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  font-family: "Quattrocento Sans", sans-serif;
  /* font-weight: bold; */
}

a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* burgermenu */
.toggle-btn {
  display: none;
  color: rgb(5, 5, 5);
}
.links {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  gap: 2rem;
}

/* skifter farve på links, når musen hover over */
/* a:hover {
  color: ;
} */

/* Opsætninger af billeder af grid */

/* --------------------------------------- */
@media (min-width: 900px) {
  /* --------------------------------------- */
  /* menu */

  #first_section {
    margin: 1rem;
  }

  #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    margin: 2.5rem;
  }
  #first_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #second_section {
    margin: 2.5rem;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 5rem;
    margin-bottom: 5rem;
  }

  #third_section {
    margin: 2.5rem;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 5rem;
    margin-bottom: 5rem;
  }

  #fourth_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .element6 {
    grid-column: 1/2;
  }

  #sixth_section .section_wrapper {
    margin: 2rem;
  }

  #sixth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1rem;
  }
  .element1 {
    grid-column: 1/2;
  }
  .element2 {
    grid-column: 2/3;
  }
  .element3 {
    grid-column: 3/4;
  }
  .element4 {
    grid-column: 4/5;
  }
}

/* --------------------------------------- */

.element5 {
  cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
}

/* favicon */

.favicon {
  max-width: 100px;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
