* {
  box-sizing: border-box;
}

/* --------------------------------------- */
/* fonten */
h1,
h2,
h3,
h4,
p {
  text-decoration: none;
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1.2 rem;
}

/* --------------------------------------- */
/* img og iframe */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  width: 100%;
}
/* --------------------------------------- */
/* logo */
.logo {
  width: 50px;
  height: 50px;
}
/* --------------------------------------- */
/* menu */
.banner {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  font-family: "Quattrocento Sans", sans-serif;
}

a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* burgermenu */
.toggle-btn {
  display: none;
  color: rgb(5, 5, 5);
}

/* --------------------------------------- */
/* footer */
footer {
  background-color: #0156b9;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
}

.links {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  gap: 2rem;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

/* --------------------------------------- */
@media (min-width: 700px) {
  #first_section h2 {
    margin: 5rem;
  }

  #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
  }
  #first_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #second_section h2 {
    margin: 5rem;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem;
    margin-bottom: 5rem;
  }

  #third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem;
    margin-bottom: 5rem;
  }

  .element6 {
    grid-column: 1/2;
  }

  #fourth_section .section_wrapper {
    margin: 2rem;
  }

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1rem;
  }
  .element1 {
    grid-column: 1/2;
  }
  .element2 {
    grid-column: 2/3;
  }
  .element3 {
    grid-column: 3/4;
  }
  .element4 {
    grid-column: 4/5;
  }
}

/* --------------------------------------- */
@media (min-width: 1080px) {
  #first_section h2 {
    margin: 5rem;
  }

  #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 5rem;
    margin-bottom: 5rem;
  }
  #first_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #second_section h2 {
    margin: 5rem;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem;
    margin-bottom: 5rem;
  }

  #third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem;
    margin-bottom: 5rem;
  }

  .element6 {
    grid-column: 1/2;
  }

  #fourth_section .section_wrapper {
    margin: 2rem;
  }

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1rem;
  }
  .element1 {
    grid-column: 1/2;
  }
  .element2 {
    grid-column: 2/3;
  }
  .element3 {
    grid-column: 3/4;
  }
  .element4 {
    grid-column: 4/5;
  }
}

/* --------------------------------------- */
/* google maps */
.element5 {
  cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
}
/* --------------------------------------- */
/* favicon */
.favicon {
  max-width: 100px;
}
