/* header */
body {
  font-family: "Quattrocento Sans", sans-serif;
}

img {
  max-width: 100%;
}

footer {
  background-color: #0156b9;
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  width: 50px;
  height: 50px;
}

video {
  /* max-width: 100%; */
  background-size: cover;
  background-position: 50% 50%;
  filter: opacity(60%);
  /* min-width: 100%; */
  width: 100%;
}

.banner {
  background: rgb(255, 255, 255);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: bold;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* burgermenu */
.toggle-btn {
  display: none;
}

#first_section {
}

#second_section {
  margin: 2rem;
}

#third_section {
  margin: 2rem;
}

#fourth_section .section_wrapper {
  margin: 2rem;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

@media (min-width: 700px) {
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13rem;
    margin: 10rem;
    margin-bottom: 10rem;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
    margin: 10rem;
  }
  #third_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 3fr;
  }
  #fourth_section .col_wide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  /* #fourth_section .col1 {
    display: grid;
    grid-template-columns: 3fr;
    grid-column: 1/2;
  }

  #fourth_section .col2 {
    display: grid;
    grid-template-columns: 3fr;
    grid-column: 2/3;
  }
  #fourth_section .col3 {
    display: grid;
    grid-template-columns: 3fr;
    grid-column: 3/4;
  } */
}
@media (min-width: 1000px) {
  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 3fr;
  }
  #fourth_section .col_wide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
