/* header */
body {
  font-family: "Quattrocento Sans", sans-serif;
}

img {
  max-width: 100%;
}

footer {
  background-color: crimson;
}

video {
  /* max-width: 100%; */
  background-size: cover;
  background-position: 50% 50%;
  filter: opacity(60%);
  /* min-width: 100%; */
  min-height: 100vh;
  width: 100%;
}

.banner {
  background: rgb(255, 255, 255);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* burgermenu */
.toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

@media (min-width: 700px) {
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  #third_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
