/* header */
body {
  font-family: "Quattrocento Sans", sans-serif;
}

img {
  max-width: 100%;
}

.splash {
  height: auto;
  aspect-ratio: 16/9;

  background-size: cover;
}

footer {
  background-color: #0156b9;
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr;
}

.logo {
  width: 50px;
  height: 50px;
}

/* main {
  position: absolute;
  top: 0;
} */

video {
  /* background-size: cover; */
  background-position: 50% 50%;
  filter: opacity(60%);
  width: 100%;
}

.banner {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  font-family: "Quattrocento Sans", sans-serif;
}

a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

#first_section {
  position: relative;
}

#first_section .boxed {
  position: absolute;
  top: 10%;
  left: 25%;

  font-family: "Quattrocento Sans", sans-serif;
  padding: 1rem;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
  text-shadow: gray 5px 5px 5px;
}

/* burgermenu */
.toggle-btn {
  display: none;
  color: rgb(5, 5, 5);
}

#first_section {
}

#second_section {
  margin: 2rem;
}

#third_section {
  background-color: #eaa001;
}
#third_section .section_wrapper {
  margin: 2rem;
  background-color: #eaa001;
}

#fourth_section .section_wrapper {
  margin: 2rem;
}

.links {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  gap: 2rem;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

@media (min-width: 700px) {
  #first_section {
    position: relative;
  }

  #first_section .boxed {
    position: absolute;
    top: 35%;
    left: 35%;

    font-family: "Quattrocento Sans", sans-serif;
    padding: 1rem;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    text-shadow: gray 5px 5px 5px;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 3rem;
    margin-bottom: 2rem;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin: 3rem;
  }
  #third_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1rem;
  }
  .element1 {
    grid-column: 1/2;
  }
  .element2 {
    grid-column: 2/3;
  }
  .element3 {
    grid-column: 3/4;
  }
  .element4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1100px) {
  #first_section {
    position: relative;
  }

  #first_section .boxed {
    position: absolute;
    top: 35%;
    left: 35%;

    font-family: "Quattrocento Sans", sans-serif;
    padding: 1rem;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    text-shadow: gray 5px 5px 5px;
  }

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1rem;
  }
  .element1 {
    grid-column: 1/2;
  }
  .element2 {
    grid-column: 2/3;
  }
  .element3 {
    grid-column: 3/4;
  }
  .element4 {
    grid-column: 4/5;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    margin: 10rem;
    margin-bottom: 10rem;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
    margin: 10rem;
  }
}
