
body {
  font-family: "Quattrocento Sans", sans-serif;
}

img {
  max-width: 100%;
}
/* header */

.banner {
  background-color: transparent;

  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  font-family: "Quattrocento Sans", sans-serif;
  /* font-weight: bold; */
}
.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
/* nav text */
a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

/* burgermenu */
.toggle-btn {
  display: none;
  color: rgb(5, 5, 5);
}
.logo {
  width: 50px;
  height: 50px;
}

#first_section {
  margin: 2rem;
}

#second_section {
  margin: 2rem;
  background-color: blue;
}

#third_section {
  background-color: #eaa001;
}
#third_section .section_wrapper {
  margin: 2rem;
  background-color: #eaa001;
}

#fourth_section .section_wrapper {
  margin: 2rem;
}

.links {
  display: flex;
  flex-flow: wrap;
  list-style: none;
}

a:hover {
  color: yellow;
}

footer {
  background-color: #0156b9;
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr;
}



@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    /* list-style: none; */
  }
}

@media (min-width: 900px) {
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 10rem;
  }



  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
    margin: 10rem;
  }
  /* #third_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1rem;
  }
  .element1 {
    grid-column: 1/2;
  }
  .element2 {
    grid-column: 2/3;
  }
  .element3 {
    grid-column: 3/4;
  }
  .element4 {
    grid-column: 4/5;
  }
}
@media (min-width: 900px) {
  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1rem;
  }
  .element1 {
    grid-column: 1/2;
  }
  .element2 {
    grid-column: 2/3;
  }
  .element3 {
    grid-column: 3/4;
  }
  .element4 {
    grid-column: 4/5;
  }
}
