body {
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

/* Header */

.banner {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  font-family: "Quattrocento Sans", sans-serif;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

/* nav text */
a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}
a:hover {
  color: #ef4044;
}

.links {
  display: flex;
  flex-flow: wrap;
}
/* burgermenu */
.toggle-btn {
  display: none;
  color: rgb(5, 5, 5);
}

/* MOBILE FIRST (iPhone 12 pro) 375 */

video {
  width: 40%;
}

h1 {
  margin: 2rem;
}

#second_section {
  background-color: #0156b9;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #edeeef;
}

#second_section .section_wrapper {
  margin: 2rem;
}

#third_section {
  background-color: #ef4044;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#third_section .section_wrapper {
  margin: 2rem;
}

/* Footer */
#fourth_section .section_wrapper {
  margin: 2rem;
}

footer {
  background-color: #0156b9;
  color: #edeeef;
  display: grid;
  grid-template-columns: 1fr;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    /* list-style: none; */
  }
}

@media (min-width: 900px) {
  h1 {
    margin: 3rem;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
  }

  /* Footer */
  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1rem;
  }
  .element1 {
    grid-column: 1/2;
  }
  .element2 {
    grid-column: 2/3;
  }
  .element3 {
    grid-column: 3/4;
  }
  .element4 {
    grid-column: 4/5;
  }
}
